
body {
    text-align: center;
    background-color: #333;
    color: white;
    position: relative;
}

#game {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#grid {
    display: grid;
    grid-template-columns: repeat(13, 30px); 
    grid-template-rows: repeat(17, 30px);
    background-color: #555; 
    gap: 1px;
}


#grid div {
    width: 30px;
    height: 30px;
    background-color: #555; 
}
#scoreT{
    margin-top: 20px;
    font-size: 1.4em;
}

#score {
    margin-top: 20px;
    font-size: 1.4em;
}
#grid div.shape {
    background-color: blue;
    border: 0.5px solid black;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 2px; 
}

#grid div.shapeBoard{
    background-color: rgb(2, 138, 21);
    border: 0.5px solid black;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 2px;

}

#end-message{
    display: none;
    padding: 10px;
    z-index: 5;
    position: absolute;
    bottom: 30vh;
    right: 30vw;
    background-color: rgba(76, 94, 113, 0.788);
    height: 35vh;
    width: 35vw;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
}
#end-message button{
    cursor: pointer;
}

#start-message{
    padding: 10px;
    z-index: 7;
    position: absolute;
    bottom: 30vh;
    right: 30vw;
    background-color: rgba(76, 94, 113, 0.788);
    height: 35vh;
    width: 35vw;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
}

#popup-text{
    display: none;
    position: absolute;
    bottom: 50vh;
    right:80vw;
    font-size:4em;
    text-shadow: 0px 0px 5px white;
}