html {
    direction: rtl;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: white;
    position: relative;
    margin: 0;
    padding: 0;
}

#game {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:80vw;
    margin-top: 20px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(13, 30px); 
    grid-template-rows: repeat(17, 30px);
    background-color: #555; 
    padding: 10px;
    border-radius: 5px;
}

#grid div {
    width: 30px;
    height: 30px;
    background-color: #777;
    border-radius: 2px;
}

#grid div.shape {
    background-color: blue;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

#grid div.shapeBoard {
    background-color: rgb(2, 138, 21);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 2px;

}
#scoreT,#HighScoreT{
    background-color: #555;
    padding:20px;
    border: 2px solid white;
}

#scoreT, #score {
    margin-top: 20px;
    font-size: 1.4em;
    color: white;
}
#HighScoreT, #highScore {
    margin-top: 20px;
    font-size: 1.4em;
    color: white;
}

.score-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-direction: column;
}



#end-message, #start-message {
    padding: 10px;
    z-index: 5;
    position: absolute;
    bottom: 30vh;
    right: 30vw;
    background-color: rgba(76, 94, 113, 0.788);
    height: 35vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
}

#end-message {
    display: none;
}

#end-message button, #start-message button {
    background-color: #8f7a66;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
}

#end-message button:hover, #start-message button:hover {
    background-color: #9f8a76;
}

#popup-text {
    display: none;
    position: absolute;
    bottom: 50vh;
    right: 80vw;
    font-size: 4em;
    text-shadow: 0px 0px 5px white;
}

