html{
    direction: rtl;
}
body {
    text-align: center;
    background-color: #333;
    color: white;
    position: relative;
}

#game {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#grid {
    display: grid;
    grid-template-columns: repeat(13, 30px); 
    grid-template-rows: repeat(17, 30px);
    background-color: #555; 
    gap: 1px;
}


#grid div {
    width: 30px;
    height: 30px;
    background-color: #555; 
}


#score {
    margin-top: 20px;
    font-size: 1.2em;
}
#grid div.shape {
    background-color: blue;
    border: 0.5px solid black;
}

#grid div.shapeBoard{
    background-color: red;
    border: 0.5px solid black;

}

#end-message{
    display: none;
    padding: 10px;
    z-index: 5;
    position: absolute;
    bottom: 30vh;
    right: 30vw;
    background-color: rgba(76, 94, 113, 0.788);
    height: 35vh;
    width: 35vw;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
}
#end-message button{
    cursor: pointer;
}